/**
* ==============================================================
* =APD Plugin
* ==============================================================
*/

/**
* =Elements
*/
.affiliate-products-db {
  h3 {
    margin-top: 0 !important;
  }
  
  .not-available {
    color: $red-3;
    font-size: 14px;
  }
  
  span.overall-rating {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    //font-size: 28px;
    font-size: 2.8em;
    //color: $blue-2;
  }
  span.overall-rating-text {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.check:before {
  @include font-awesome("\f00c");
  color: $success-1;
  font-size: 130%;
}

.times:before {
  @include font-awesome("\f00d");
  color: $danger;
  font-size: 130%;
}

.plus-factor:before {
  @include font-awesome("\f055");
  color: $success-1;
  font-size: 130%;
  padding-right: 4px;
}

.minus-factor:before {
  @include font-awesome("\f056");
  color: $danger;
  font-size: 130%;
  padding-right: 4px;
}

.details-promotion:empty {
  display: none;
}

.promotion-stripe {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

.details-promotion {
  color: white;
  background: $danger;
  position: absolute;
  height: 38px;
  padding: 0;
  top: 0;
  left: -1px;
  right: -1px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  white-space: nowrap;
}

/**
* --------------------------------------------------------------
* =Products Filter
* --------------------------------------------------------------
*/
.apd-products-filter {
  h3 {
    text-transform: unset;
    font-size: 20px;
    font-weight: 400;
  }
  label {
    color: $theme-4;
    font-weight: 400;
    display: block;
    margin-top: 15px;
  }
  
  .box--select {
    margin-top: 5px;
  }
  
  select {
    width: 80%;
  }
}

/**
* --------------------------------------------------------------
* =Big Table
* --------------------------------------------------------------
*/
//don't show datatables inputs
#bigtable_wrapper {
  > .row:first-of-type {
    display: none;
  }
}

#automowers-compact-table {
  
}

#automowers-expanded-table {
  .coming-soon {
    padding: 100px;
    font-size: 20px;
    font-weight: 700;
    
  }
}

.affiliate-products-db.bigtable {
  table thead tr th {
    vertical-align: middle;
  }
  table tbody tr td {
    vertical-align: middle;
  }
}

/**
* --------------------------------------------------------------
* =Big Table Accessories
* --------------------------------------------------------------
*/

.affiliate-products-db.bigtable.accessories {
  .dropdown {
    width: 100%;
    button {
      width: 100%;
      text-align: left;
    }
  }
  
  .amazon-price {
    a {
      width: 70%;
      margin: 0 auto;
    }
  }
}

/**
* --------------------------------------------------------------
* =Small Table
* --------------------------------------------------------------
*/

.affiliate-products-db.smalltable {
  table.table {
    border: 1px solid $gray-3;
    
    thead {
      display: none;
    }
    
    tbody tr {
      td {
        position: relative;
        .infobox-thumbnail {
          margin-top: 10px;
        }
        .btn {
          width: 80%;
          margin: 0 auto;
        }
      }
      &.image {
        td {
          padding-top: 55px;
          img {
            //max-width: 100px;
            width: 80%;
            height: 80%;
            margin: 0 auto;
          }
        }
      }
      &.amazon-buttons {
        a.btn {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
    
    .medium-amazon-image {
      width: 80%;
      height: 80%;
      max-width: 180px;
      margin: 0 auto;
    }
    td {
      width: 176px;
    }
    td:first-of-type {
      width: 100px !important;
    }
    //table-layout: fixed;
    .table--promotion {
      color: white;
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 500;
      font-size: 14px;
      &.bestseller {
        background: $theme-4 !important;
      }
      &.promo-performance {
        background: $theme-4;
      }
      &.promo-price-performance {
        background: $theme-4;
      }
    }
    
    /**
    * =Bestseller
    */
    td.bestseller {
      border-left: 2px solid $theme-4;
      border-right: 2px solid $theme-4;
    }
    tr:first-of-type td.bestseller {
      border-top: 2px solid $theme-4;
    }
    tr:last-of-type td.bestseller {
      border-bottom: 2px solid $theme-4;
    }
    tbody {
      tr:nth-child(even) .bestseller {
        //background: $gray-3;
      }
      tr:nth-child(odd) .bestseller {
        //background: $gray-2;
      }
    }
    
    /**
    * =Performance-Winner
    */
    td.promo-performance {
      border-left: 2px solid $theme-4;
      border-right: 2px solid $theme-4;
    }
    tr:first-of-type td.promo-performance {
      border-top: 2px solid $theme-4;
    }
    tr:last-of-type td.promo-performance {
      border-bottom: 2px solid $theme-4;
    }
    
    /**
    * =Price-Performance-Winner
    */
    td.promo-price-performance {
      border-left: 2px solid $theme-4;
      border-right: 2px solid $theme-4;
    }
    tr:first-of-type td.promo-price-performance {
      border-top: 2px solid $theme-4;
    }
    tr:last-of-type td.promo-price-performance {
      border-bottom: 2px solid $theme-4;
    }
    
    /**
    * =Elements
    */
    .overall-rating {
      color: $theme-4;
    }
    
    /**
    * =Rows
    */
    tr.model {
      td {
        span {
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
    tr.price {
      td {
        span {
          font-size: 16px;
        }
      }
    }
  }
}

/**
* --------------------------------------------------------------
* =Product List Box
* --------------------------------------------------------------
*/
.apd-product-list-box {
  i.check, i.times {
    padding-left: 30px;
  }
}

/**
* --------------------------------------------------------------
* =Small Item Template
* --------------------------------------------------------------
*/
.affiliate-products-db {
  .small-item {
    margin: 20px 0 60px 0;
    
    .panel-heading {
      display: table;
      height: 75px;
      h4 {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .infobox-thumbnail {
      min-height: 170px;
    }
  }
}

/**
* --------------------------------------------------------------
* =Details Template
* --------------------------------------------------------------
*/

.affiliate-products-db {
  
  -webkit-transform: abs(012);
  -moz-transform: abs(012);
  -ms-transform: abs(012);
  -o-transform: abs(012);
  transform: abs(012);
  
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  .img-responsive {
    padding: 0 10px;
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
  
  .apd-details {
    @media #{$mobile-small}{
      .overall-rating {
        margin-bottom: 20px;
      }
    }
    
    .aggregate-rating {
      .btn:hover {
        background-color: #fff;
      }
    }
    
    h4 {
      margin-bottom: 30px;
    }
    
    .product--box {
      background-color: #ffffff;
      padding: 0;
    }
    
    .panel-body {
      padding-bottom: 0;
    }
    
    .infobox {
      margin-bottom: 30px;
    }
    
    .infobox-header {
      h3 {
        margin: 0 !important;
        padding: 0 !important;
        border-bottom: 0 !important;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2.6rem;
      }
    }
    
    .infobox--promo {
      span {
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    
    .infobox-top-body {
      display: block;
      float: left;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 60px;
    }
    
    .infobox-bottom-body {
      > .row {
        margin-top: 30px;
        .tabs .nav-tabs li {
          cursor: pointer;
          a {
            border-left: none;
          }
          i {
            margin-right: 5px;
          }
        }
      }
      .tab-content {
        border: none;
      }
    }
    
    .small-table {
      font-size: 16px;
      font-weight: 400;
      background-color: $theme-1;
      padding: 10px 15px;
      margin: 10px 0 20px 0;
      line-height: 2.5;
    }
    
    .infobox--amazon-logo {
      img {
        width: 100%;
        max-width: 350px;
        display: block;
        margin: 0 auto;
      }
    }
    
    .infobox--price-button {
      margin-bottom: 20px;
    }
    
    .infobox-bottom-body {
      .tabs {
        .nav {
          li {
            a {
              background-color: #ffffff;
              color: $black-3;
            }
            a:hover {
              background-color: $theme-1;
            }
          }
          li.active {
            a {
              background-color: $theme-1;
              //color: #000000 !important;
              //border-left: 1px solid #3A509E;
            }
          }
        }
        
        .tab-content {
          .overview {
            //padding: 20px 40px;
            background: $theme-1;
            
            .overall-rating {
              color: $theme-4;
              background: $white;
              border-color: $white;
              text-transform: uppercase;
              font-weight: 300;
              font-size: 24px;
              height: 100%;
            }
            
            .amazon-rating {
              height: 100%;
              .aggregate-rating {
                height: 100%;
                a {
                  padding: 10px;
                  height: 100%;
                  border-radius: 0;
                  border: none;
                }
              }
            }
            
            .detailed-rating-row {
  
              > .row {
                margin-top: 30px;
                .progress-bars {
                  margin-top: 22px;
                }
                .progress {
                  margin-bottom: 0;
      
                  .progress-bar {
                    background-color: #2b7a00;
                  }
                }
                .progress-label {
                  margin-bottom: 35px;
                }
              }
              
              .category-rating {
                .progress-bars {
                  .progress {
                    margin-bottom: 0;
                    
                    .progress-bar {
                      background-color: $color-10;
                      font-size: 14px;
                    }
                  }
                  .progress-label {
                    margin-bottom: 25px;
                  }
                }
              }
              
              .pro-con {
                .list-pro {
                  h4 {
                    color: $green-1;
                  }
                  
                  li:before {
                    color: $green-1;
                  }
                }
                
                .list-con {
                  h4 {
                    color: $red-1;
                  }
                  
                  li:before {
                    color: $red-1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .tab-pane.reviews {
      .row {
        iframe {
          width: 100%;
          height: 1300px;
        }
      }
    }
  
    .tab-pane.details {
      .row {
        table {
          margin-bottom: 0;
          tr.category {
            background: $gray-2;
            font-weight: bold;
            td:nth-child(3) {
              font-family: inherit;
            }
          }
          tr th {
            background-color: $white !important;
          }
          tr {
            td:nth-child(3) {
              font-family: monospace;
            }
          }
        }
      }
    }
    
    .tab-pane.overview .general-rating-row > div {
      margin-top: 10px;
      margin-bottom: 10px;
      
      .overall-rating {
      }
      
      .amazon-rating {
        a {
          color: #000000;
        }
        
        i.fa.fa-caret-right {
          margin-right: 3px;
        }
        
        .number-of-ratings {
          margin: 2px 10px;
          
          span {
            color: $apd-black-1;
          }
        }
      }
    }
    
    .reviews-box {
      padding: 50px 30px;
      background-color: $theme-1;
    }
  }
}