/**
* --------------------------------------------------------------
* =Desktop Only Styles
* --------------------------------------------------------------
*/

/**
* --------------------------------------------------------------
* =Elements
* --------------------------------------------------------------
*/

@media #{$desktop-all}{
  //.dropdown {
  //  position: relative;
  //  display: inline-block;
  //}
  //
  //.dropdown-content {
  //  display: inline-block;
  //  position: absolute;
  //  background-color: #f9f9f9;
  //  //min-width: 160px;
  //  //box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  //  z-index: 1;
  //  -webkit-transition: max-height 0s ease-out;
  //  -moz-transition: max-height 0s ease-out;
  //  -ms-transition: max-height 0s ease-out;
  //  -o-transition: max-height 0s ease-out;
  //  transition: max-height 0s ease-out;
  //  overflow: hidden;
  //  // "height: 0" not work with css transitions
  //  max-height: 0;
  //  //height: 100%;
  //}
  //
  //.dropdown:hover .dropdown-content {
  //  display: block;
  //  max-height: 300px;
  //  -webkit-transition: all 0.5s ease-out;
  //  -moz-transition: all 0.5s ease-out;
  //  -o-transition: all 0.5s ease-out;
  //  -ms-transition: all 0.5s ease-out;
  //  transition: all 0.5s ease-out;
  //}
  
  /**
  * --------------------------------------------------------------
  * =Header
  * --------------------------------------------------------------
  */
  
  
  /**
  * gradual fade out
  */
  @media(max-width: 1150px) {
    #fixednav {
      li:nth-of-type(6) {
        display: none;
      }
    }
  }
  
  @media(max-width: 1050px) {
    #fixednav {
      li:nth-of-type(5) {
        display: none;
      }
    }
  }
  
  /**
  * --------------------------------------------------------------
  * =Content
  * --------------------------------------------------------------
  */
  
  .inner-width {
    //width: $container-width-md;
    margin: 0 auto;
  }
  .site-container {
    .site-inner {
      //width: $container-width-md;
    }
  }
  .hamburger {
    display: none;
  }
  
  /**
  * =Boxes
  */
  div.box--widget {
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  /**
  * =Product Box
  */
  
  /**
  * =Medium Item Box
  */
  .medium-products-box {
    .row {
      display: flex;
      .col-md-4 {
        display: flex;
        flex: 1;
        .box--product {
          flex: 1;
        }
      }
    }
    
    .product--image-box {
      padding-bottom: 50px;
    }
    
    .product--price {
      position: absolute;
      bottom: 0;
      width: 70%;
      left: 15%;
    }
  }
}