#nimaji-menu,
#nimaji-menu ul,
#nimaji-menu ul li,
#nimaji-menu ul li a,
#nimaji-menu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#nimaji-menu:after,
#nimaji-menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#nimaji-menu #menu-button {
  display: none;
}

#nimaji-menu {
  height: $navbar-height-md;
  font-family: $open-sans;
  background: $theme-4;
  margin-left: 16px;
}

#nimaji-menu > ul > li {
  float: left;
}

#nimaji-menu.align-center > ul {
  font-size: 0;
  text-align: center;
}

#nimaji-menu.align-center > ul > li {
  display: inline-block;
  float: none;
}

#nimaji-menu.align-center ul ul {
  text-align: left;
}

#nimaji-menu.align-right > ul > li {
  float: right;
}

#nimaji-menu > ul > li > a {
  padding: 22px 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: $gray-3;
  text-transform: uppercase;
  font-weight: 300;
}

#nimaji-menu > ul > li:hover > a {
  color: #ffffff;
}

#nimaji-menu > ul > li.has-sub > a {
  padding-right: 30px;
}

#nimaji-menu > ul > li.has-sub > a:after {
  position: absolute;
  top: 29px;
  right: 10px;
  width: 9px;
  height: 1px;
  display: block;
  background: $gray-3;
  content: '';
}

#nimaji-menu > ul > li.has-sub > a:before {
  position: absolute;
  top: 25px;
  right: 14px;
  display: block;
  width: 1px;
  height: 9px;
  background: $gray-3;
  content: '';
  @include transition(all, 0.25s, ease);
}

#nimaji-menu > ul > li.has-sub:hover > a:before {
  top: 32px;
  height: 0;
}

#nimaji-menu ul ul {
  position: absolute;
  left: -9999px;
}

#nimaji-menu.align-right ul ul {
  text-align: right;
}

#nimaji-menu ul ul li {
  height: 0;
  @include transition(all, 0.25s, ease);
}

#nimaji-menu li:hover > ul {
  left: auto;
}

#nimaji-menu.align-right li:hover > ul {
  left: auto;
  right: 0;
}

#nimaji-menu li:hover > ul > li {
  height: 39px;
}

#nimaji-menu ul ul ul {
  margin-left: 100%;
  top: 0;
}

#nimaji-menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#nimaji-menu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 13px 15px;
  width: 200px;
  font-size: 14px;
  text-decoration: none;
  color: $gray-3;
  font-weight: 400;
  background: $theme-4;
}

#nimaji-menu ul ul li:last-child > a,
#nimaji-menu ul ul li.last-item > a {
  border-bottom: 0;
}

#nimaji-menu ul ul li:hover > a,
#nimaji-menu ul ul li a:hover {
  color: #ffffff;
}

#nimaji-menu ul ul li.has-sub > a:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 9px;
  height: 1px;
  display: block;
  background: $gray-3;
  content: '';
}

#nimaji-menu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}

#nimaji-menu ul ul li.has-sub > a:before {
  position: absolute;
  top: 14px;
  right: 14px;
  display: block;
  width: 1px;
  height: 9px;
  background: $gray-4;
  content: '';
  @include transition(all, 0.25s, ease);
}

#nimaji-menu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}

#nimaji-menu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

@media #{$mobile-all}{
  #nimaji-menu {
    width: 100%;
    height: $navbar-height-sm;
    margin-left: 0;
    background-color: $theme-4;
  }
  #nimaji-menu ul {
    width: 100%;
    display: none;
  }
  #nimaji-menu.align-center > ul {
    text-align: left;
  }
  #nimaji-menu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #nimaji-menu ul ul li,
  #nimaji-menu li:hover > ul > li {
    height: auto;
  }
  #nimaji-menu ul li a,
  #nimaji-menu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #nimaji-menu > ul > li {
    float: none;
  }
  #nimaji-menu ul ul li a {
    padding-left: 25px;
  }
  #nimaji-menu ul ul ul li a {
    padding-left: 35px;
  }
  #nimaji-menu ul ul li a {
    color: #dddddd;
    background: $theme-4;
  }
  #nimaji-menu ul ul li:hover > a,
  #nimaji-menu ul ul li.active > a {
    color: #ffffff;
  }
  #nimaji-menu ul ul,
  #nimaji-menu ul ul ul,
  #nimaji-menu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #nimaji-menu > ul > li.has-sub > a:after,
  #nimaji-menu > ul > li.has-sub > a:before,
  #nimaji-menu ul ul > li.has-sub > a:after,
  #nimaji-menu ul ul > li.has-sub > a:before {
    display: none;
  }
  #nimaji-menu #menu-button {
    display: block;
    padding: 17px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #nimaji-menu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    content: '';
    @include transition(all, 0.25s, ease);
  }
  #nimaji-menu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: white;
    content: '';
    @include transition(all, 0.25s, ease);
  }
  #nimaji-menu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    @include transition(all, 0.25s, ease);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nimaji-menu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    @include transition(all, 0.25s, ease);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nimaji-menu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #nimaji-menu .submenu-button.submenu-opened {
    background: #262626;
  }
  #nimaji-menu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #nimaji-menu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: white;
    content: '';
  }
  #nimaji-menu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #nimaji-menu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #nimaji-menu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 9px;
    background: white;
    content: '';
  }
  #nimaji-menu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #nimaji-menu .submenu-button.submenu-opened:before {
    display: none;
  }
}