/**
* --------------------------------------------------------------
* =Variables
* --------------------------------------------------------------
*/

/**
* --------------------------------------------------------------
* =Fonts
* --------------------------------------------------------------
*/
$sans-serif: Arial, sans-serif;
$droid-sans: 'Droid Sans', sans-serif;
$robotic: 'Robotic', sans-serif;
$open-sans: 'Open Sans', sans-serif !important;

/**
* --------------------------------------------------------------
* =Colors
* --------------------------------------------------------------
*/

$white: #ffffff;

$gray-1: #f9f9f9;
$gray-2: #f5f5f5;
$gray-3: #dddddd;

$black-1: #000000;
$black-2: #222222;
$black-3: #555555;

$color-10: #084f70;
//$color-10: #6f9bd9;
$color-11: #6f9bd9;
//$color-13: #C5D2E5;
//$color-10: #336699;
//$color-10: #3A509E;
$color-12: #efefff;

$red-1: #cc3333;
$red-2: #d9534f;
$red-3: #a94442;

$green-1: #3c763d;
$green-2: #2a9e88;

$yellow-1: #d19b3d;

$amazon-1: #ffc200;
$amazon-2: #febd69;

/**
* Blue nimaji theme
*/

$theme-0: #F9F9FF;
$theme-1: #EFEFFF;
$theme-2: #D4D4EA ;
$theme-3: #ABC8E2;
$theme-4: #375D81;
$theme-5: #183152;

/**
* Michael Cina color theme
*/
//$theme-4: rgb(96, 189, 175);
//$theme-2: rgb(161, 216, 177);
//$theme-1: rgb(237, 252, 194);
//$theme-3: rgb(248, 138, 175);
//$theme-5: rgb(69, 86, 85);

/**
* --------------------------------------------------------------
* =Pixels
* --------------------------------------------------------------
*/

$container-width-md: 1280px;
$menu-height-md: 75px;
$menu-height-sm: 45px;
$footer-height: 270px;

/**
* Navbar
*/
$navbar-height-md: 60px;
$navbar-height-sm: 45px;
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;

/**
* --------------------------------------------------------------
* =Time
* --------------------------------------------------------------
*/

$transition-time: 0.3s;